body,
header,
footer {
    text-align: center;
}

header,
footer {
    background-color: #437eda;
    color: white;
}

body {
    background-color: #cbcccc;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid white;
    margin: 20px;
    box-shadow: 0 5px 10px;
}

.links a {
    padding: 10px;
    color: white;
    display: block;
    text-decoration: none;
}

#menu a {
    padding: 10px;
    color: white;
    display: inline;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.hide a {
    display: none;
}

dialog img {
    width: fit-content;
    height: 100%;
    display: block;
    margin: auto auto;
    border: none;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
}

.close-viewer {
    position: absolute;
    top: 2vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 2em;
    background-color: lightgrey;
}

@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    #menu {
        display: none;
    }

    .links a {
        padding: 10px;
        color: white;
        display: inline;
    }


}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

}