@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
    text-align: center;
}

h1 {
    font-family: "Amatic SC", sans-serif;
}

h1 img {
    height: 1.5em;
}

.search {
    display: flex;
}

.search input {
    width: 100%;
    height: 1.2em;
}

.search img {
    height:1em;
    position: absolute;
    right: .6em;
}

.recipes {
    
}

.recipe {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px;
}

.image {
    width: 100%;
    margin-bottom: 10px;
}

.category {
    background-color: lightgray;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    border: 1px solid black;

}

.name {
    font-family: "Amatic SC", sans-serif;
    color: aqua;
    font-size: 1.5em;
    margin-top: 50px;
    width: fit-content;
    justify-content: left;
}

.rating {
    width: fit-content;
    justify-content: left;
}

.description {
    display: none;
}


footer {
    display: flex;
    flex-flow: column-reverse;
    margin-top: 30px;
    justify-content: center;
}

.social {
    width: 200px;
    margin: auto;
}

.social a {
    width: 30%;
    margin: auto 1px auto 1px;
    display: inline-block;
}

@media screen and (min-width: 700px) {
    .recipes {
        
    }

    .recipe {
        height: 50vh;
    }

    .image {
        height: 100%;
        width: auto;
    }

    .description {
        display: inline;
        font-size: 1.2em;
        justify-self: left;
        text-align: left;
        max-width: 50%;
    }




    footer {
        flex-flow: row;
        justify-content: space-between;
    }

    .social {
        margin:unset;
    }
}