body {
    text-align: center;
    width: 500px;
    padding-left: 10%;
    padding-right: 10%;
    border: 1px solid #e8e8e8;
    line-height: 25px;
}

h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 3px;
}

h3 {
    text-align: center;
    color: #2480bf;
    letter-spacing: 3px;
    margin-bottom: 0;
}
hr {
    margin-top: 0;
    margin-bottom: 30px;
}

#italic {
    font-style: italic;
}

ol {
    list-style-position: inside;
    text-align: left;
}

li {
    padding-bottom: 20px;
}

.theme {
    color: "black";
}

img {
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: auto;
}